.App {
  text-align: center;
  background-color: #001f3f;
}
#root{
  background-color: #001f3f;
}
.App-header {
  /* background-color: #282c34;  */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  
  font-size: calc(5px + 1vmin);
  color:white;
  background-color: #212B38;
}
ul{
  list-style: none;
}

li{
  
  box-shadow: grey;
  
  
}
button{
  
  background-color: #2196f3;
  
  color: white;
  border: none;
  border-radius: 10px;
  height: 40px;
  width: 120px;

}

#reviewText{
  
  width: 700px;
  height: 300px;
  border-color: #00DDFF;
  border-radius: 20px;
  top: 50%;
  border-width: 5px;
}


.split {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 20px;
  overflow-x: hidden;
  padding-top: 80px;
}

.left {
  left: 0;
}
.right{
  right:0;
}
.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


